
@{
    Layout = "_BaseLayout";
}

@model PizzaCategoriesView
<div class="container">
<div class="row justify-content-center">
    <div class="col-6">
            <form asp-controller="Pizza" asp-action="Create" method="post">
                @Html.AntiForgeryToken() <!-- per sicurezza dei dati-->
                <div class="mb-3">
                    <label>Titolo:</label>
                    <input asp-for="Pizza.Title" type="text" class="form-control">
                    <span asp-validation-for = "Pizza.Title"  class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label>Descrizione:</label>
                    <textarea asp-for="Pizza.Description" rows="10" class="d-block w-100"></textarea>
                    <span asp-validation-for="Pizza.Description" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label>Path Image:</label>
                    <input asp-for="Pizza.Image" type="text" class="form-control">
                    <span asp-validation-for="Pizza.Image" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label>Categoria:</label>
                    <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">
                        <option value=""></option>
                        @foreach (Category category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Title</option>
                        }
                    </select>
                    <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
                </div>

                <div class="text-end">
                    <input type="submit" class="btn btn-small btn-info" value="Salva">
                </div>
            </form>
    </div>
</divc>    
</div>
    